@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #ff6347;
  --secondary-color: #5492bc;
  --bg-color: #f2f2f2;
  --bg-color1: #a0a0a0;
  --bg-color2: #5492bc;
  --heading-color: #444;
  --paragraph-color: #777;
  --text-color: #444;
  --text-color1: #555;
  --link-color: #444;
  --link-hover-color: #5492bc;
  --link-active-color: #5492bc;
  --hover-color: #9e95f5;
  --hover-color1: #5492bc;
  --border-color: #ddd;
  --border-color1: #ff5757;
  --border-color2: #ccc;
  --box-shadow: 0 2px 6px rgba(0,0,0,.15);
  --box-shadow1: 0 3px 12px rgba(0,0,0,.2);
  --box-shadow2: -1px 2px 22px rgba(0,0,0,.15);
  --scrollbar-color: #0000;
  --scrollbar-color1: #d9d9d9;
  --text-active-color: #ff5353;
  --text-hover-color: #ff5353;
  --fs-normal: 14px;
  --fs-big: 52px;
  --fs1: 42px;
  --fs2: 32px;
  --fs3: 24px;
  --fs4: 20px;
  --fs5: 18px;
  --fs6: 16px;
  --facebook-color: #0866FF;
  --twitter-color: #00acee;
  --linkedin-color: #0072b1;
  --instagram-color: #EE3567;
  --youtube-color: #CD201F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dt-none {
  display: none;
}

.ph-none {
  display: none;
}

/* Overlay */
.overlay.show,
.site-overlay.show {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 998;
  transition: all 0.2s ease;
}

.custom-btn {
  background: var(--primary-color);
  box-shadow: 0px 2px 3px 0px var(--primary-color);
  color: var(--white-color);
  padding: 10px 28px;
  outline: none;
  transform: scale(1.001);
  transition: all 0.3s ease;
}
.custom-btn:hover {
  background: var(--primary-color);
  box-shadow: 0px 2px 6px 0px var(--primary-color);
  color: var(--white-color);
}
.custom-btn:active, .custom-btn:focus, .custom-btn:visited, .custom-btn:focus-within, .custom-btn:focus-visible, .custom-btn:target {
  transform: scale(0.95);
}

.custom-btn1 {
  background: var(--secondary-color);
  box-shadow: 0px 2px 3px 0px var(--secondary-color);
  color: var(--white-color);
  padding: 10px 28px;
  outline: none;
  transform: scale(1.001);
  transition: all 0.3s ease;
}
.custom-btn1:hover {
  background: var(--secondary-color);
  box-shadow: 0px 2px 6px 0px var(--secondary-color);
  color: var(--white-color);
}
.custom-btn1:active, .custom-btn1:focus, .custom-btn1:visited, .custom-btn1:focus-within, .custom-btn1:focus-visible, .custom-btn1:target {
  transform: scale(0.95);
}

input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--border-color);
  outline: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  border-radius: 4px;
}

input:focus,
input:focus-within,
select:focus,
select:focus-within,
textarea:focus,
textarea:focus-within {
  border: 1px solid var(--border-color1);
  box-shadow: none !important;
}

.section-padding {
  padding: 40px 0;
}

.heading {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.heading .title {
  display: inline-block;
  position: relative;
}
.heading .title::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -8px;
  width: 50%;
  height: 3px;
  background: var(--primary-color);
  border-radius: 100%;
  transform: translateX(-50%);
}
.heading p {
  margin-top: 12px;
}

.center {
  margin: auto;
  display: table;
}

/* =================== */
#apps {
  max-width: 1920px;
  position: relative;
}
#apps .top-navbar {
  height: 32px;
  background-color: var(--secondary-color);
}
#apps .top-navbar select {
  font-size: 14px !important;
  -webkit-appearance: auto;
  -moz-appearance: initial;
  appearance: auto;
  background-image: none;
  padding: 0;
}
#apps .top-navbar select option {
  color: var(--text-color) !important;
}
#apps .top-navbar .social .item .link i {
  color: var(--white-color);
}
#apps header {
  position: sticky;
  top: 0;
  z-index: 999;
}
#apps header .logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  padding: 12px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
}
#apps header .logo-bar .logo a {
  display: inline-flex;
}
#apps header .logo-bar .logo a img {
  max-width: 200px;
  height: 60px;
}
#apps header .logo-bar .apply a {
  display: inline-block;
}
#apps header .navigation {
  height: 60px;
  display: flex;
  align-items: center;
}
#apps header .navigation .nav-items {
  display: flex;
  justify-content: center;
}
#apps header .navigation .nav-items .item {
  position: relative;
}
#apps header .navigation .nav-items .item:hover .submenu {
  top: 100%;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
#apps header .navigation .nav-items .item:hover > .link, #apps header .navigation .nav-items .item.active > .link {
  color: var(--link-active-color);
}
#apps header .navigation .nav-items .item .link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  color: var(--link-color);
  padding: 4px 12px;
  transition: all 0.3s ease;
}
#apps header .navigation .nav-items .item .link .txt {
  font-size: 15px;
  font-weight: 600;
}
#apps header .navigation .nav-items .item .link .icon {
  margin-top: 2px;
  position: absolute;
  right: 0;
}
#apps header .navigation .nav-items .item .submenu {
  position: absolute;
  top: 140%;
  left: 0;
  z-index: 0;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  min-width: 200px;
  width: 100%;
  padding: 8px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
#apps header .navigation .nav-items .item .submenu .items .item .link {
  padding: 6px 12px;
  display: block;
}
#apps footer {
  overflow: hidden;
}
#apps footer .footer-middle {
  background-color: var(--bg-color);
}
#apps footer .footer-middle .widgets {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
#apps footer .footer-middle .widgets .widget .logo {
  margin-bottom: 24px;
}
#apps footer .footer-middle .widgets .widget .logo img {
  max-width: 240px;
  width: 100%;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
#apps footer .footer-middle .widgets .widget > .title {
  font-size: 20px;
  margin-bottom: 20px;
}
#apps footer .footer-middle .widgets .widget .lists .list {
  line-height: 28px;
}
#apps footer .footer-middle .widgets .widget .lists .list .link {
  color: var(--link-color);
  transition: all 0.3s ease;
}
#apps footer .footer-middle .widgets .widget .lists .list .link:hover {
  color: var(--link-hover-color);
}
#apps footer .footer-middle .widgets .widget .social .title {
  font-size: 17px;
  margin-top: 20px;
}
#apps footer .footer-middle .widgets .widget .social ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 8px;
}
#apps footer .footer-middle .widgets .widget .social ul .item .link {
  color: var(--link-color);
}
#apps .social .item .link {
  padding: 4px;
  display: inline-block;
  transition: all 0.3s ease;
}
#apps .social .item .link.facebook {
  color: var(--facebook-color) !important;
}
#apps .social .item .link.twitter {
  color: var(--twitter-color) !important;
}
#apps .social .item .link.instagram {
  color: var(--instagram-color) !important;
}
#apps .social .item .link.linkedin {
  color: var(--linkedin-color) !important;
}
#apps .social .item .link.youtube {
  color: var(--youtube-color) !important;
}
#apps .social .item .link:hover {
  transform: translateY(-3px);
}

nav ol li a {
  color: var(--primary-color);
}
nav .pagination .page-item.active .page-link {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}
nav .pagination .page-item .page-link:focus {
  box-shadow: none !important;
}

.page-wrapper {
  overflow: hidden;
}
.page-wrapper .slide-wrap {
  width: 100%;
  position: relative;
}
.page-wrapper .slide-wrap .slides {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.page-wrapper .slide-wrap .slides::-webkit-scrollbar {
  display: none;
}
.page-wrapper .slide-wrap .slides.no-transition {
  scroll-behavior: auto;
}
.page-wrapper .slide-wrap .slides .dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.page-wrapper .slide-wrap .slides .dragging .slide {
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.page-wrapper .slide-wrap .slides :where(.slide, .content) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .slide-wrap .slides .slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  height: 425px;
  list-style: none;
  flex-direction: column;
  position: relative;
}
.page-wrapper .slide-wrap .slides .slide::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1882352941);
  z-index: -1;
}
.page-wrapper .slide-wrap .slides .slide .content {
  height: 100%;
  width: 100%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.page-wrapper .slide-wrap .slides .slide .content .img {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.page-wrapper .slide-wrap .slides .slide .content .img img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 40% 0 40% 0;
}
.page-wrapper .slide-wrap .slides .slide .content .text {
  width: 50%;
}
.page-wrapper .slide-wrap .slides .slide .content .text .title {
  font-size: 42px;
  font-weight: 900;
  color: #444;
}
.page-wrapper .slide-wrap .slides .slide .content .text .link {
  padding: 10px 40px;
}
.page-wrapper .slide-wrap .arrow .icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
}
.page-wrapper .slide-wrap .arrow .icon.left {
  left: 25px;
}
.page-wrapper .slide-wrap .arrow .icon.right {
  right: 25px;
}
.page-wrapper .slide-wrap .arrow .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3529411765);
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s eaes 0s;
}
.page-wrapper .slide-wrap .arrow .icon i:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.page-wrapper .about-us .image img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 30% 0 30% 0;
}
.page-wrapper .about-us .content .detail {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 40px;
}
.page-wrapper .about-us .content .detail .video {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
}
.page-wrapper .about-us .content .detail .video .spinner-box {
  background-color: transparent;
}
.page-wrapper .about-us .content .detail .video .spinner-box .circle-border {
  width: 80px;
  height: 80px;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--primary-color);
  background: linear-gradient(0deg, var(--black-color) 33%, var(--primary-color) 100%);
  animation: spin 0.8s linear 0s infinite;
}
.page-wrapper .about-us .content .detail .video .spinner-box .circle-border .circle-core {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.page-wrapper .about-us .content .detail .video .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: var(--primary-color);
  animation: scale 3s infinite;
  display: inline-flex;
  overflow: initial;
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.page-wrapper .displayVideo {
  visibility: hidden;
  opacity: 0;
}
.page-wrapper .displayVideo.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4431372549);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
.page-wrapper .displayVideo.show .view {
  max-width: 900px;
  width: 100%;
  max-height: 550px;
  height: 100%;
}
.page-wrapper .displayVideo.show .view iframe {
  max-width: 900px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  animation: videoshow 0.6s;
}
@keyframes videoshow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.page-wrapper .displayVideo.show .close-btn {
  color: var(--white-color);
  position: fixed;
  top: 10px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-wrapper .displayVideo.show .close-btn:hover {
  color: var(--primary-color);
}
.page-wrapper .count-down {
  background-color: var(--bg-color);
}
.page-wrapper .count-down .item {
  display: flex;
  justify-content: center;
}
.page-wrapper .count-down .item .box {
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  padding: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.page-wrapper .count-down .item .box:hover::after {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 1;
}
.page-wrapper .count-down .item .box:hover .icon {
  color: var(--white-color);
}
.page-wrapper .count-down .item .box:hover .counter {
  color: var(--white-color);
}
.page-wrapper .count-down .item .box:hover .txt {
  color: var(--white-color);
}
.page-wrapper .count-down .item .box::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  background: linear-gradient(160deg, var(--primary-color), var(--secondary-color) 100%);
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.page-wrapper .count-down .item .box .icon {
  font-size: 32px;
  color: var(--text-color);
}
.page-wrapper .count-down .item .box .counter {
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 8px;
}
.page-wrapper .count-down .item .box .txt {
  font-size: 16px;
  color: var(--paragraph-color);
}
.page-wrapper .project-wrap .project-tabs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.page-wrapper .project-wrap .project-tabs .tabs {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  list-style: none;
}
.page-wrapper .project-wrap .project-tabs .tabs .tab {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 6px 16px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.page-wrapper .project-wrap .project-tabs .tabs .tab:hover {
  background-color: var(--primary-color);
}
.page-wrapper .project-wrap .project-tabs .tabs .tab.active {
  background-color: var(--primary-color);
}
.page-wrapper .project-wrap .projects {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 24px;
}
.page-wrapper .project-wrap .projects .item {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.page-wrapper .project-wrap .projects .item.show {
  opacity: 1;
  display: block;
}
.page-wrapper .project-wrap .projects .item.hide {
  opacity: 0;
  display: none;
}
.page-wrapper .project-wrap .projects .item:hover {
  box-shadow: var(--box-shadow1);
}
.page-wrapper .project-wrap .projects .item:hover .thumb img {
  transform: scale(1.2);
}
.page-wrapper .project-wrap .projects .item:hover .content {
  top: 0;
}
.page-wrapper .project-wrap .projects .item .thumb img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s ease;
}
.page-wrapper .project-wrap .projects .item .content {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--secondary-color));
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 12px;
  text-align: center;
  transition: all 0.3s ease;
}
.page-wrapper .project-wrap .projects .item .content .title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
}
.page-wrapper .project-wrap .projects .item .content p {
  color: var(--white-color);
  font-size: 14px;
}
.page-wrapper .project-wrap .projects .item .content .actions {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.page-wrapper .project-wrap .projects .item .content .actions .link {
  display: flex;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 20px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  transition: all 0.3s ease;
}
.page-wrapper .project-wrap .projects .item .content .actions .link:hover {
  background-color: var(--white-color);
  color: var(--link-color);
}
.page-wrapper .service-wrap .services {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  padding: 40px 0;
}
.page-wrapper .service-wrap .services .service {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 30px 12px;
  transition: all 0.3s ease;
}
.page-wrapper .service-wrap .services .service::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: var(--primary-color);
  transition: all 0.4s ease;
}
.page-wrapper .service-wrap .services .service:hover {
  box-shadow: var(--box-shadow1);
}
.page-wrapper .service-wrap .services .service:hover::before {
  width: 100%;
}
.page-wrapper .service-wrap .services .service:hover .icon i {
  border: 3px solid var(--border-color1);
  color: var(--primary-color);
}
.page-wrapper .service-wrap .services .service:hover .content .name .link {
  color: var(--primary-color);
}
.page-wrapper .service-wrap .services .service .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.page-wrapper .service-wrap .services .service .icon i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: 3px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  transition: all 0.4s ease;
}
.page-wrapper .service-wrap .services .service .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-wrapper .service-wrap .services .service .content .name .link {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  transition: all 0.4s ease;
}
.page-wrapper .service-wrap .services .service .content .txt {
  text-align: center;
}
.page-wrapper .service-wrap .services .service .content > .link {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.page-wrapper .service-wrap .services .service .content > .link:hover {
  letter-spacing: 0.8px;
}
.page-wrapper .service-wrap .services .service .content > .link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  border-radius: 30px;
  transition: all 0.4s ease;
}
.page-wrapper .service-wrap .services .service .content > .link:hover::before {
  left: 100%;
}
.page-wrapper .services .details .feature-image img {
  max-width: 100%;
}
.page-wrapper .services .service-aside .category-lists .link {
  transition: all 0.3s ease;
}
.page-wrapper .services .service-aside .category-lists .link:hover {
  margin-left: 6px;
  color: var(--secondary-color) !important;
  letter-spacing: 0.8px;
}
.page-wrapper .services .service-aside .service-tags .tags-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 16px;
}
.page-wrapper .services .service-aside .service-tags .tags-lists .item .link {
  background-color: var(--bg-color);
  color: var(--link-color);
  border-radius: 10px;
  padding: 4px 12px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .services .service-aside .service-tags .tags-lists .item .link:hover {
  text-decoration: underline;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.page-wrapper .blog-wrap .blog-carousel {
  position: relative;
}
.page-wrapper .blog-wrap .blog-carousel .blogs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 40px 0;
}
.page-wrapper .blog-wrap .blog-carousel .blogs::-webkit-scrollbar {
  display: none;
}
.page-wrapper .blog-wrap .blog-carousel .blogs.no-transition {
  scroll-behavior: auto;
}
.page-wrapper .blog-wrap .blog-carousel .blogs.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.page-wrapper .blog-wrap .blog-carousel .blogs.dragging .card {
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.page-wrapper .blog-wrap .blog-carousel .blogs :where(.item, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  position: relative;
  scroll-snap-align: start;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item:hover {
  box-shadow: var(--box-shadow1);
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item:hover .image img {
  transform: scale(1.2);
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .image {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .image img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.8s ease;
}
@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }
  to {
    transform: rotate(-20deg) scale(1.1);
  }
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 86%;
  margin-top: -24px;
  margin-bottom: 20px;
  background-color: var(--white-color);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -24px 16px 0 rgba(0, 0, 0, 0.05);
  padding: 12px 4px;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content .name .link {
  display: flex;
  color: var(--link-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  transition: all 0.4s ease;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content .name .link:hover {
  color: var(--primary-color);
  letter-spacing: 0.5px;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content .txt {
  text-align: center;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content > .link {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content > .link:hover {
  letter-spacing: 0.8px;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content > .link:hover::before {
  left: 100%;
}
.page-wrapper .blog-wrap .blog-carousel .blogs .item .content > .link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  border-radius: 30px;
  transition: all 0.4s ease;
}
@media screen and (max-width: 900px) {
  .page-wrapper .blog-wrap .blog-carousel .blogs {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .page-wrapper .blog-wrap .blog-carousel .blogs {
    grid-auto-columns: 100%;
  }
}
.page-wrapper .blog-wrap .blog-carousel .arrow .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.page-wrapper .blog-wrap .blog-carousel .arrow .icon.left {
  left: -25px;
}
.page-wrapper .blog-wrap .blog-carousel .arrow .icon.right {
  right: -25px;
}
.page-wrapper .blog-wrap .blog-carousel .arrow .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.page-wrapper .blog-wrap .blog-carousel .arrow .icon i:hover {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}
.page-wrapper .blogs .blog {
  background-color: var(--white-color);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  display: grid;
}
.page-wrapper .blogs .blog:hover > .thumb img {
  transform: scale(1.1, 1.1);
}
.page-wrapper .blogs .blog > .thumb {
  overflow: hidden;
  display: block;
}
.page-wrapper .blogs .blog > .thumb img {
  max-height: 320px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.page-wrapper .blogs .blog .content {
  padding: 24px;
}
.page-wrapper .blogs .blog .content .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  height: 50px;
}
.page-wrapper .blogs .blog .content .title .link {
  text-decoration: none;
  color: var(--heading-color);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .blogs .blog .content .title .link:hover {
  color: var(--secondary-color);
}
.page-wrapper .blogs .blog .content .media {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 8px;
}
.page-wrapper .blogs .blog .content .media .avatar-info {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.page-wrapper .blogs .blog .content .media .avatar-info .list {
  color: var(--paragraph-color);
  font-size: 14px;
}
.page-wrapper .blogs .blog .content .media .avatar-info .list::before {
  position: absolute;
  content: "|";
  left: 0;
}
.page-wrapper .blogs .blog .content .media .avatar-info .list:first-child::before {
  content: none;
}
.page-wrapper .blogs .blog .content .media .avatar-info .list .link {
  font-size: 14px;
  padding-left: 12px;
  position: relative;
  color: var(--paragraph-color);
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .blogs .blog .content .media .avatar-info .list .link:hover {
  color: var(--link-hover-color);
}
.page-wrapper .blogs .blog .content .description {
  color: var(--paragraph-color);
  line-height: 26px;
  font-size: 15px;
}
.page-wrapper .blogs .blog .content .read-more {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 14px;
  margin-top: 4px;
  text-decoration: underline;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
.page-wrapper .blogs .blog .content .read-more:hover {
  letter-spacing: 0.8px;
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post:hover .thumb .link img {
  transform: scale(1.2);
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post .thumb .link {
  overflow: hidden;
  display: block;
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post .thumb .link img {
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post .content .title {
  font-size: 16px;
  margin-bottom: 8px;
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post .content .title .link {
  transition: all 0.3s ease;
}
.page-wrapper .blogs .blog-aside .blog-recent-post .post .content .title .link:hover {
  color: var(--secondary-color) !important;
}
.page-wrapper .blogs .blog-aside .category-lists .link {
  transition: all 0.3s ease;
}
.page-wrapper .blogs .blog-aside .category-lists .link:hover {
  margin-left: 6px;
  color: var(--secondary-color) !important;
  letter-spacing: 0.8px;
}
.page-wrapper .blogs .blog-aside ul.tags-lists {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 16px;
}
.page-wrapper .blogs .blog-aside ul.tags-lists .item .link {
  background-color: var(--bg-color);
  color: var(--link-color);
  border-radius: 10px;
  padding: 4px 12px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .blogs .blog-aside ul.tags-lists .item .link:hover {
  text-decoration: underline;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.page-wrapper .blogs .details {
  font-size: 16px;
}
.page-wrapper .blogs .details .media {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 8px;
}
.page-wrapper .blogs .details .media .avatar-info {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.page-wrapper .blogs .details .media .avatar-info .list {
  color: var(--paragraph-color);
  font-size: 14px;
}
.page-wrapper .blogs .details .media .avatar-info .list .link {
  font-size: 14px;
  padding-left: 12px;
  position: relative;
  color: var(--paragraph-color);
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.page-wrapper .blogs .details .media .avatar-info .list .link:hover {
  color: var(--link-hover-color);
}
.page-wrapper .blogs .details .feature-image {
  display: grid;
}
.page-wrapper .blogs .details .feature-image img {
  max-width: 100%;
  width: 100%;
}
.page-wrapper .blogs .details .title {
  color: #444;
}
.page-wrapper .blogs .details > p {
  color: #777;
}
.page-wrapper .blogs .details > article {
  padding: 24px 30px;
  background-color: #f2f2f2;
  border-left: 4px solid #213770;
}
.page-wrapper .blogs .reviews {
  border-top: 1px solid var(--border-color);
  padding-top: 8px;
}
.page-wrapper .blogs .reviews .items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.page-wrapper .blogs .reviews .items .item .review {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 20px;
}
.page-wrapper .blogs .reviews .items .item .content {
  width: calc(100% - 50px);
}
.page-wrapper .blogs .reviews .items .item .content .head {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.page-wrapper .blogs .reviews .items .item .content .name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}
.page-wrapper .blogs .reviews .items .item .content .date {
  font-size: 12px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.page-wrapper .blogs .reviews .items .item .content .text {
  font-size: 14px;
  color: var(--paragraph-color);
  line-height: 22px;
}
.page-wrapper .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.page-wrapper .banner::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.page-wrapper .banner .content {
  padding: 120px 12px;
}
.page-wrapper .banner .content h1 {
  font-size: 50px;
}
.page-wrapper .banner .content p {
  font-size: 20px;
}
.page-wrapper .page-data .content {
  position: relative;
  background-color: var(--white-color);
  margin-top: -40px;
  z-index: 1;
}
.page-wrapper .page-data .content > .title {
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 16px;
  padding-bottom: 6px;
  color: var(--heading-color);
}
.page-wrapper .page-data .content .image img {
  width: 100%;
  max-height: 450px;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.page-wrapper .page-data .content .text p {
  font-size: 15px;
  color: var(--paragraph-color);
}
.page-wrapper .page-data .content .form-wrap .step {
  margin-bottom: 30px;
}
.page-wrapper .page-data .content .form-wrap .step:last-child {
  margin-bottom: 0;
}
.page-wrapper .page-data .content .form-wrap .step h4 {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 18px;
  color: var(--text-color);
}
.page-wrapper .page-data .content .form-wrap .step h4 i {
  font-size: 17px;
}
.page-wrapper .page-data .content .form-wrap .step a {
  color: var(--secondary-color);
}
.page-wrapper .page-data .google-maps iframe {
  width: 100%;
  height: 450px;
}
.page-wrapper .team-wrap.bg {
  background-color: var(--bg-color);
}
.page-wrapper .team-wrap .members .member {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.page-wrapper .team-wrap .members .member:hover::before {
  width: 100%;
}
.page-wrapper .team-wrap .members .member::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: var(--primary-color);
  transition: all 0.4s ease;
}
.page-wrapper .team-wrap .members .member .bgc {
  position: absolute;
  width: 100%;
  height: 120px;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(106.32deg, var(--primary-color) 14.23%, rgba(255, 25, 25, 0) 139.97%);
}
.page-wrapper .team-wrap .members .member .content {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-wrapper .team-wrap .members .member .content .image {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.25);
}
.page-wrapper .team-wrap .members .member .content .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--white-color);
}
.page-wrapper .team-wrap .members .member .content .info {
  padding: 20px 16px 10px;
  text-align: center;
}
.page-wrapper .team-wrap .members .member .content .info .name {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 8px;
}
.page-wrapper .team-wrap .members .member .content .info .designation {
  font-size: 16px;
  color: var(--text-color1);
  margin-bottom: 20px;
}
.page-wrapper .team-wrap .members .member .content .info .step p {
  line-height: 22px;
  color: var(--paragraph-color);
  margin-bottom: 4px;
}
.page-wrapper .team-wrap .members .member .content .socials {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.page-wrapper .team-wrap .members .member .content .socials .lists {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  list-style: none;
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.facebook, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.twitter, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.linkedin, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.youtube {
  transition: all 0.5s ease;
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.facebook:hover, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.twitter:hover, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.linkedin:hover, .page-wrapper .team-wrap .members .member .content .socials .lists .list .link.youtube:hover {
  color: var(--white-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.facebook {
  color: var(--facebook-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.facebook:hover {
  background-color: var(--facebook-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.twitter {
  color: var(--twitter-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.twitter:hover {
  background-color: var(--twitter-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.linkedin {
  color: var(--linkedin-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.linkedin:hover {
  background-color: var(--linkedin-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.youtube {
  color: var(--youtube-color);
}
.page-wrapper .team-wrap .members .member .content .socials .lists .list .link.youtube:hover {
  background-color: var(--youtube-color);
}
.page-wrapper .error-404 {
  height: 100%;
  background-color: #f2f2f2;
  padding: 80px 0;
}
.page-wrapper .error-404 .error-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-wrapper .error-404 .error-content .error {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.page-wrapper .error-404 .error-content .error .left {
  width: 40%;
  font-size: 80px;
  font-weight: 600;
  color: #444;
  text-align: right;
  border-right: 2px solid #ccc;
  padding-right: 12px;
}
.page-wrapper .error-404 .error-content .error .right {
  width: 60%;
  padding-left: 12px;
}
.page-wrapper .error-404 .error-content .error .right h2 {
  font-size: 36px;
  color: var(--text-color1);
  margin-bottom: 12px;
}
.page-wrapper .error-404 .error-content .error .right h4 {
  font-size: 20px;
  color: var(--text-color1);
  font-weight: 500;
}
.page-wrapper .error-404 .error-content .link {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 40px;
}
.page-wrapper .error-404 .error-content .link:hover {
  text-decoration: underline;
}
.page-wrapper .error-404 .error-content .copyright {
  color: var(--text-color1);
  font-size: 14px;
}

/* ========================================== */
@media only screen and (max-width: 991px) {
  .dt-lg-none {
    display: none;
  }
  .dt-lg-block {
    display: block;
  }
  .ph-lg-none {
    display: none;
  }
  .ph-lg-block {
    display: block;
  }
  #apps header .logo-bar .mobile-bars .icon i {
    font-size: 22px;
  }
  #apps header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    width: 0;
    height: 100% !important;
    overflow-y: auto;
    background-color: var(--white-color);
    box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.08);
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  #apps header .navigation.show {
    width: 240px;
  }
  #apps header .navigation .container {
    height: 100%;
  }
  #apps header .navigation .container .row {
    height: 100%;
  }
  #apps header .navigation .container .row .nav-items {
    flex-direction: column;
    justify-content: start;
  }
  #apps header .navigation .container .row .nav-items .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 8px;
    margin: 8px 0;
  }
  #apps header .navigation .container .row .nav-items .head .title {
    font-weight: 600;
  }
  #apps header .navigation .container .row .nav-items .head span {
    font-size: 20px;
    color: var(--primary-color);
  }
  #apps header .navigation .container .row .nav-items .item .link {
    padding: 8px 10px;
  }
  #apps header .navigation .container .row .nav-items .item .submenu {
    position: static;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    padding: 0;
    background-color: var(--white-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #apps header .navigation .container .row .nav-items .item .submenu .items .item .link {
    padding: 6px 20px;
  }
  header .navigation {
    visibility: hidden;
    overflow: hidden;
    z-index: 0;
    height: 0 !important;
    width: 0;
  }
  .slide-wrap .slides {
    grid-auto-columns: calc(100% - 0px);
  }
  .slide-wrap .slides .slide {
    max-height: initial !important;
  }
  .slide-wrap .slides .slide .content {
    flex-direction: column;
  }
  .slide-wrap .slides .slide .content .img {
    width: 100% !important;
  }
  .slide-wrap .slides .slide .content .text {
    width: 100% !important;
    padding: 20px;
  }
  .slide-wrap .slides .slide .content .text .title {
    font-size: 20px;
  }
  .slide-wrap .slides .slide .content .text .short-des {
    font-size: 14px;
  }
  .slide-wrap .arrow .icon i {
    width: 36px !important;
    height: 36px !important;
  }
  .banner .content {
    padding: 90px 12px !important;
  }
  .banner .content h1 {
    font-size: 42px !important;
  }
  .banner .content p {
    font-size: 18px !important;
  }
  .count-down .item {
    margin: 12px;
  }
  .project-wrap .project-tabs .tabs {
    -moz-column-gap: 8px !important;
         column-gap: 8px !important;
  }
  .project-wrap .projects {
    grid-template-columns: repeat(3, minmax(200px, 1fr)) !important;
  }
  .blog-wrap .blog-carousel .arrow .icon.left {
    left: 10px !important;
  }
  .blog-wrap .blog-carousel .arrow .icon.right {
    right: 10px !important;
  }
  .blog-wrap .blog-carousel .arrow .icon i {
    background-color: rgba(255, 255, 255, 0.5882352941) !important;
    width: 36px !important;
    height: 36px !important;
  }
  .service-wrap .services {
    grid-template-columns: repeat(2, minmax(200px, 1fr)) !important;
  }
  .service-wrap .services .service .icon i {
    width: 70px;
    height: 70px;
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.431372549);
  }
  .service-wrap .services .service .content .name .link {
    font-size: 22px;
  }
  .services .container .row {
    flex-direction: column-reverse;
  }
  .page-data .contact .form-wrap > .row {
    flex-direction: column-reverse;
  }
  .page-data .contact .form-wrap > .row form {
    margin-top: 30px;
  }
  .page-data .contact .google-maps iframe {
    height: 380px !important;
  }
}
@media only screen and (max-width: 767px) {
  .dt-md-none {
    display: none;
  }
  .dt-md-block {
    display: block;
  }
  .ph-md-none {
    display: none;
  }
  .ph-md-block {
    display: block;
  }
  #apps footer .footer-middle .widgets {
    -moz-column-gap: 24px;
         column-gap: 24px;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  #apps footer .footer-middle .widgets .widget:nth-child(1) {
    grid-column: span 3;
  }
  #apps footer .footer-middle .widgets .widget:nth-child(2), #apps footer .footer-middle .widgets .widget:nth-child(3) {
    grid-column: span 1;
  }
  .slide-wrap .slides .slide .content .img {
    height: auto;
  }
  .slide-wrap .slides .slide .content .text .title {
    font-size: 21px;
  }
  .slide-wrap .slides .slide .content .text p {
    font-size: 14px !important;
  }
  .slide-wrap .slides .slide .content .text .link {
    padding: 6px 32px;
    font-size: 14px !important;
  }
  .banner .content {
    padding: 70px 12px !important;
  }
  .displayVideo.show .view {
    max-height: 450px !important;
  }
  .displayVideo.show .view iframe {
    max-height: 450px !important;
  }
  .service-wrap .services .service .content .name {
    line-height: 20px;
    height: 50px;
  }
  .service-wrap .services .service .content .name .link {
    line-height: 20px;
  }
  .count-down .item .box {
    width: 160px !important;
    height: 160px !important;
  }
  .count-down .item .box .counter {
    margin-top: 6px !important;
    margin-bottom: 4px !important;
  }
  .count-down .item .box .txt {
    font-size: 14px !important;
  }
  .project-wrap .project-tabs .tabs {
    -moz-column-gap: 6px !important;
         column-gap: 6px !important;
  }
  .project-wrap .projects {
    grid-template-columns: repeat(3, minmax(160px, 1fr)) !important;
    -moz-column-gap: 12px !important;
         column-gap: 12px !important;
  }
  .project-wrap .projects .item .content {
    padding: 8px !important;
  }
  .project-wrap .projects .item .content .title {
    font-size: 15px !important;
    margin-bottom: 4px !important;
  }
  .project-wrap .projects .item .content p {
    font-size: 12px !important;
    margin-bottom: 6px !important;
    line-height: 15px !important;
  }
  .project-wrap .projects .item .content .actions {
    -moz-column-gap: 8px !important;
         column-gap: 8px !important;
  }
  .project-wrap .projects .item .content .actions .link {
    padding: 2px 12px !important;
    font-size: 11px !important;
  }
  .page-data .contact .google-maps iframe {
    height: 330px !important;
  }
}
@media only screen and (max-width: 575px) {
  .dt-sm-none {
    display: none;
  }
  .dt-sm-block {
    display: block;
  }
  .ph-sm-none {
    display: none;
  }
  .ph-sm-block {
    display: block;
  }
  #apps .top-navbar .social {
    -moz-column-gap: 6px !important;
         column-gap: 6px !important;
  }
  #apps .top-navbar .social .item .link i {
    font-size: 14px;
  }
  .slide-wrap .slides {
    grid-auto-columns: 100%;
  }
  .slide-wrap .slides .slide {
    max-height: -moz-max-content;
    max-height: max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .slide-wrap .slides .slide .content {
    flex-direction: column;
  }
  .slide-wrap .slides .slide .content .img {
    width: auto;
  }
  .slide-wrap .slides .slide .content .img img {
    max-width: 300px;
    max-height: 300px;
  }
  .slide-wrap .slides .slide .content .text {
    width: 100%;
  }
  .banner .content {
    padding: 60px 12px !important;
  }
  .banner .content h1 {
    font-size: 38px !important;
  }
  .banner .content p {
    font-size: 16px !important;
  }
  .displayVideo.show .view {
    max-height: 350px !important;
  }
  .displayVideo.show .view iframe {
    max-height: 350px !important;
  }
  .service-wrap .services {
    grid-template-columns: 1fr !important;
  }
  .service-wrap .services .service .content .name {
    height: auto !important;
    line-height: normal;
  }
  .count-down .item {
    margin: 12px 0 !important;
  }
  .count-down .item .box {
    width: 140px !important;
    height: 140px !important;
  }
  .count-down .item .box .counter {
    margin-top: 6px !important;
    margin-bottom: 4px !important;
  }
  .count-down .item .box .txt {
    font-size: 14px !important;
  }
  .project-wrap .project-tabs .tabs {
    -moz-column-gap: 6px !important;
         column-gap: 6px !important;
  }
  .project-wrap .projects {
    grid-template-columns: repeat(2, minmax(160px, 1fr)) !important;
  }
  .project-wrap .projects .item .content {
    padding: 8px !important;
  }
  .project-wrap .projects .item .content .title {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .project-wrap .projects .item .content p {
    font-size: 12px;
    margin-bottom: 6px;
    line-height: 15px;
  }
  .project-wrap .projects .item .content .actions {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .project-wrap .projects .item .content .actions .link {
    padding: 2px 12px;
    font-size: 11px;
  }
  .page-data .contact .google-maps iframe {
    height: 280px !important;
  }
}
@media only screen and (max-width: 460px) {
  .displayVideo.show .view {
    max-height: 300px !important;
  }
  .displayVideo.show .view iframe {
    max-height: 300px !important;
  }
  .service-wrap .services {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 375px) {
  .dt-xsm-none {
    display: none;
  }
  .dt-xsm-block {
    display: block;
  }
  .ph-xsm-none {
    display: none;
  }
  .ph-xsm-block {
    display: block;
  }
  .displayVideo.show .view {
    max-height: 280px !important;
  }
  .displayVideo.show .view iframe {
    max-height: 280px !important;
  }
}/*# sourceMappingURL=style.css.map */